#chat-log {
    display: flex;
    flex-direction: column;

    > .message {
        &:first-child {
            margin-top: auto;
        }
    }
}

.chat-message {
    @import "action", "check", "damage", "reroll";

    > .message-header {
        align-items: center;
    }

    > .message-content {
        @import "conditions";
    }
}
