ol:not(.currency) {
    @include p-reset;
    list-style: none;
    display: flex;

    &:last-child {
        margin-bottom: 42px;
    }
}

.item-name {
    display: flex;
    align-items: center;
    font-weight: 500;
    flex: 2;

    h3,
    h4 {
        margin: auto auto auto 0;
        line-height: 12px;
        padding: 2px;
        word-break: break-word;
        cursor: pointer;

        &:hover {
            color: var(--primary);
        }
    }

    span {
        margin: 0 4px;
    }

    .item-image {
        height: 24px;
        width: 24px;
        box-shadow: inset 0 0 0 1px var(--tertiary);
        background-size: cover;
        padding: 12px;
        cursor: pointer;
        margin-right: 4px;
    }
}

ol.inventory-list, ol.item-list {
    list-style-type: none;
    flex-direction: column;
    width: 100%;
    border: 1px solid var(--alt);
    border-top: none;

    & > li:nth-of-type(even) {
        background-color: rgba($alt-color, 0.1);
    }

    li {
        display: flex;
        flex-wrap: wrap;
        font-size: 0.75rem;
        padding: 0;
        width: 100%;

        &:last-child {
            .item-summary {
                border-bottom: none;
            }
        }
    }
}

.item-quantity,
.item-weight,
.item-controls,
.item-sell-value {
    @include flex-center;
    border-left: 1px solid var(--alt);
}

.item-sell-value {
    flex: 0 0 64px;
    justify-content: flex-end;
    padding-right: 3px;
}

.item-quantity {
    flex: 0 0 65px;

    .item-decrease-quantity,
    .item-increase-quantity {
        @include flex-center;
        height: 100%;
        width: 18px;
        text-align: center;
    }
}

.item-weight {
    flex: 0 0 36px;
}

.item-controls {
    .item-control {
        margin-right: 4px;
        color: var(--body);
    }
}

.item-summary {
    flex: 100%;
    padding: 4px;
    border-top: 1px solid var(--alt);
    border-bottom: 1px solid var(--alt);
    background: var(--bg);
}

.inventory-header {
    @include micro;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    background-color: var(--alt);
    @include button;
    margin-top: 8px;
    padding: 4px;
    color: white;

    &:first-child {
        margin-top: 0;
    }

    h3 {
        font-size: 14px;
        text-transform: capitalize;
        text-shadow: 0 0 2px rgba(black, 0.75);
        margin: 2px;
        margin-left: 4px;
        cursor: default;
        &:hover {
            color: white;
        }
    }

    .item-sell-value,
    .item-quantity,
    .item-weight {
        @include flex-center;
        margin-right: -2px;
    }

    .item-invested-total {
        margin-right: 3px;
    }
}
