.hitpoints {
    .hp-big {
        display: grid;
        justify-content: space-evenly;
        grid-template-columns: repeat(3, 1fr);
        .container {
            text-align: center;
            &.temp-hp {
                text-align: center;
                margin-right: 8px;
            }
            &.max-hp {
                text-align: center;
                margin-left: 8px;
            }
            &.max-hp,
            &.temp-hp {
                margin-top: 12px;
            }
            &.current-hp {
                display: flex;
                flex-direction: column;
                padding: 10px 4px 0;
                position: relative;
                z-index: 0;
                border-radius: 0 0 4px 4px;
                width: min-content;
                background-color: var(--primary);
                background-image: linear-gradient(
                    90deg,
                    darken($primary-color, 5) 0%,
                    lighten($primary-color, 8) 50%,
                    darken($primary-color, 5) 100%
                );
                border: 1px solid var(--sidebar-title);

                .data-value {
                    margin-top: 3px;
                    input[type='number'] {
                        font-size: 32px;
                        letter-spacing: -1px;
                        height: 32px;
                    }
                }
            }
        }
    }
    .hp-small {
        display: flex;
        justify-content: space-evenly;
        margin: 8px 2px 0 2px;
        text-align: center;
        gap: 2px;
        h4,
        label {
            @include micro;
        }
        .far,
        .fas {
            color: var(--text-light);
        }
    }
}
