$-alt-color: #786452 !default;

@mixin configure($alt-color: null) {
    @if $alt-color {
        $-alt-color: $alt-color;
    }
}
@mixin effects-list {
    .item {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        margin-left: 8px;
        padding: 8px 4px;
        border-top: 1px solid lighten($-alt-color, 40);
        $border-color: lighten($-alt-color, 40);
        border: solid transparent;
        border-width: 0 0 1px;
        border-image: linear-gradient(90deg, #f1edea, $border-color) 1 repeat;
        width: 100%;

        p:empty {
            display: none;
        }

        .item-name {
            display: flex;
            align-items: center;
            cursor: pointer;
            flex: 1;

            .item-image {
                color: transparent;
                background-color: var(--secondary);
                background-repeat: no-repeat;
                background-size: contain;
                background-position: center;
                margin-right: 8px;
                font-size: 18px;
                @include flex-center;
                @include frame-icon;
                padding: 14px;
                height: 32px;
                width: 32px;

                &:hover {
                    background: none !important;
                    color: var(--primary);
                }

                &[style*='mystery-man'] {
                    background-size: 24px;
                }
            }
        }

        .item-controls {
            white-space: nowrap;
            font-size: 10px;

            a + a {
                margin-left: 4px;
            }
        }

        .item-summary {
            flex-basis: 100%;

            .title,
            .framing {
                color: var(--primary);
                @include p-reset;
                margin-top: 1em;
            }

            .framing {
                color: var(--secondary);
                margin: 1em 0 0.25em;
                strong {
                    font-weight: 500;
                }
                & + p {
                    margin-top: 0;
                }
            }

            img {
                border: none;
                vertical-align: middle;

                &.actionlight {
                    background: var(--alt);
                    vertical-align: middle;
                    border: 1px solid var(--body);
                }
            }

            .item-properties {
                .tag {
                    &.toggled-on:hover,
                    &.toggled-off:hover {
                        box-shadow: none;
                        text-shadow: 0 0 2px white;
                    }

                    &.toggled-on,
                    &.toggled-off {
                        cursor: pointer;
                    }

                    &.toggled-on {
                        background-color: rgba(23, 31, 105, 0.5);
                        color: black;
                        text-shadow: 0 0 2px white;
                    }
                }
            }
        }

        &.expandable {
            .item-summary {
                display: none;
            }
        }

        &.expanded {
            h4 {
                color: var(--primary);
                font-weight: 700;
            }

            .item-summary {
                display: block;
            }
        }

        .button-group {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            flex-wrap: nowrap;
            width: 50%;
            flex: 0;
            button {
                margin: 0;
                border: none;
                cursor: pointer;
                @include micro;
                padding: 5px;
                color: white;
                width: 70px;
                @include button;
                background: var(--secondary);
                border-radius: 2px;
                flex: 0;
                white-space: nowrap;
                margin-left: 4px;
                flex: 0;

                &:hover {
                    box-shadow: none;
                    text-shadow: 0 0 2px white;
                }
            }
        }
    }
}
