@mixin serif-condensed {
    font-family: var(--serif-condensed);
    font-weight: 700;
}

@mixin micro {
    font-family: var(--sans-serif);
    font-size: 9px;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: .05em;
    text-rendering: optimizeLegibility;
}
